
.item-detail-card {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 90%; 
  max-width: 1200px;
  margin-left: 20%;
  margin-top: 5%;
  box-sizing: border-box; 
}

.item-detail-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.item-detail-img {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover; 
}

.item-detail-info {
  display: flex;
  flex-direction: column;
  color: #5f3407;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.item-detail-category {
  font-size: 16px;
  color: #888;
}

.item-detail-description {
  font-size: 18px;
  color: #333;
}

.item-detail-price {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.item-detail-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.quantity-button {
  border-radius: 4px;
  padding: 0.5rem;
  color: #fff !important;
  background-color: #d36e00 !important;
}

.btn-add-to-cart {
  background-color: #e68d10 !important;
  border-color: #e68d10 !important;
  width: 25%;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 8px;
}

.btn-add-to-cart:hover {
  background-color: #d36e00 !important;
  border-color: #d36e00 !important;
}

/* Responsive */
@media (max-width: 768px) {
  .item-detail-card {
      flex-direction: column;
      max-width: 100%;
  }

  .item-detail-img {
      max-width: 100%;
  }

  .btn-add-to-cart {
      width: auto; 
  }
}
